# Existing ignored dirs
data/
temp/
logs/
examples/
supports/*.py
allure-results/
tmp/
reports/*.html
reports/firmware_analysis_report*.txt

# VM images & snapshots (HUGE files, never commit)
*.qcow2
*.img
*.vdi
*.vmdk

# Reports & logs
*.log


# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.behave/
.tox/
.eggs/
.bat

# Build/virtualenv
.env/
.venv/
.git/
env/
venv/
dist/
build/

# OS junk
Thumbs.db
.DS_Store
*.tmp
*.swp
*.bat

